[Unit]
Description=Discord Voice Bot
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/discord-voice-bot
Environment=LD_LIBRARY_PATH=/home/pi/discord-voice-bot/lib
# Point to the release binary
ExecStart=/home/pi/discord-voice-bot/target/release/discord-voice-bot
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
